{% extends 'base.html'%}
{% block style_content %}
<style>
.left-block {

    float: left;
    width: 200px;
    height: 500px;
    margin-left: 360px;
    margin-top: 3px;
}

.right-block {

    float: right;
    width: 570px;
    height: 500px;
    margin-right: 360px;

    margin-top: -5px;
}

</style>
{% endblock %}

{% block main_content %}

<div class="left-block">
    <img src="{{ object.image.url }}"
         class="card-img-top" alt="...">
</div>
<div class="right-block">
    <h5 class="card-title">{{object.name}}</h5>
    <h5 class="card-title">{{object.description}}</h5>
    <h5 class="card-title">{{object.price}}</h5>
    {% if request.user.is_authenticated  %}
    <a href="{% url 'shop:add_to_cart' product_id=object.id %}" class="btn btn-primary">Add to basket</a>
    {% else %}
    <a class="btn btn-link" href="{% url 'accounts:sing-up-link' %}">SingUp</a>
    {% endif %}
</div>

{% endblock %}