<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    {% block style_content %}
    {% endblock %}
</head>
<body>

<nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #C8E9FD;">

    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home-link'%}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'shop:list-products-link' %}">Products</a>
        </li>
        {% if request.user.is_authenticated and request.user.is_superuser %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'shop:create-product-link' %}">add product</a>
        </li>
        {% endif %}

        {% if request.user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'shop:cart' %}">Cart</a>
        </li>
{% else %}
                <li class="nav-item">
            <a class="nav-link" href="{% url 'shop:cart_AnonymousUser' %}">Cart Anonymous User</a>
        </li>
        {% endif %}

    </ul>

    <div class="ml-auto">
        {% if not request.user.is_authenticated %}

        <a class="btn btn-warning" href="{% url 'login' %}">Login</a>
        <a class="btn btn-link" href="{% url 'accounts:sing-up-link' %}">SingUp</a>

        {% else %}

        {{request.user.email}}
        <a class="btn btn-link" href="{% url 'accounts:my-profile-link' pk=request.user.pk %}">My Profile</a>
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-warning">Logout</button>
        </form>

        {% endif %}
    </div>

</nav>

{% block main_content %}
{% endblock %}

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
        crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</body>
</html>
