<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    {% block style_content %}
    {% endblock %}
</head>
<body>

<nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #C8E9FD;">

    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home-link'%}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'shop:list-products-link' %}">Products</a>
        </li>
        {% if request.user.is_authenticated and request.user.is_superuser %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'shop:create-product-link' %}">add product</a>
        </li>
        {% endif %}

        {% if request.user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'shop:cart' %}">Cart</a>
        </li>
        {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'shop:cart_AnonymousUser' %}">Cart Anonymous User</a>
        </li>
        {% endif %}
        <li>

            <div class="container text-center">
                <form id="search-form" method="GET" action="{% url 'search_products:search' %}">
                    <input type="text" id="search-input" name="q" class="form-control" placeholder="Search products...">
                    <div id="search-results" class="dropdown-menu" aria-labelledby="search-input"></div>
                    <button type="submit" class="btn btn-primary">Search</button>
                </form>
            </div>
        </li>
    </ul>

    <div class="ml-auto">
        {% if not request.user.is_authenticated %}

        <a class="btn btn-warning" href="{% url 'login' %}">Login</a>
        <a class="btn btn-link" href="{% url 'accounts:sing-up-link' %}">SingUp</a>

        {% else %}

        {{request.user.email}}
        <a class="btn btn-link" href="{% url 'accounts:my-profile-link' pk=request.user.pk %}">My Profile</a>
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-warning">Logout</button>
        </form>

        {% endif %}
    </div>

</nav>

{% block main_content %}
{% endblock %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
$(document).ready(function() {
    $('#search-form').submit(function(event) {
        event.preventDefault(); // Предотвращаем отправку формы по умолчанию

        var query = $('#search-input').val().trim(); // Получаем значение из поля ввода поиска
        if (query !== '') {
            $.ajax({
                url: "{% url 'search_products:search' %}", // URL для отправки AJAX запроса
                method: 'GET', // Метод запроса GET
                data: {'q': query}, // Данные запроса (поисковой запрос)
                success: function(response) {
                    $('#search-results').html(response); // Обновляем содержимое страницы результатами поиска
                },
                error: function(xhr, errmsg, err) {
                    // Обработка ошибок (если необходимо)
                    console.log(xhr.status + ": " + xhr.responseText); // Выводим ошибку в консоль
                }
            });
        }
    });
});
</script>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
        crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</body>
</html>
